* {
    box-sizing: border-box;
}

.main {
    background-color: #f5f5f5;
    width: calc(100% - 244px);
    height: calc(100vh - 78px);
    overflow : scroll;
    padding-left: 46px;
    padding-top: 45.7px;
    padding-bottom: 71px;
}

.main::-webkit-scrollbar{
    width: 6px !important;
}

.clock {
    margin-right: 7.1px;
}

.title {
    width: 1164px;
    font-family: "Apple_B";
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.paper {
    margin-top: 19px;
    width: 1164px;
    background-color: white;
    padding-left: 67px;
    padding-right: 67px;
    padding-bottom: 108px;
}

.paperTitle {
    display: flex;
    justify-content: space-between;
    padding-top: 38px;
}

.paperTitleFirst {
    display: flex;
}



.calendarFlat {
    margin-right: 8px;
}

.studentName {
    display: flex;
    align-items: center;
    font-family: "Apple_R";
    font-size: 18px;
    color: #303030;
    letter-spacing: -0.9px;
}

.monthStudyTime {
    cursor: pointer;
    width: 180px;
    height: 46px;
    border: solid 1px #728aff;
    border-radius: 4px;
    line-height: 46px;
    text-align: center;
    color: #3d50b0;
    font-family: "Apple_R";
    letter-spacing: -0.8px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}


.chevronLeft {
    box-sizing: border-box;
    width: 7.4px;
    margin-right: 26.6px;
    cursor: pointer;
}

.chevronRight {
    box-sizing: border-box;
    width: 7.4px;
    margin-left: 26.6px;
    cursor: pointer;
}


.main::-webkit-scrollbar{
    background-color: #f5f5f5;
}

.main::-webkit-scrollbar-thumb{
    background-color: #bbbcb6;
    border-radius: 10px;

}


.whenMonth {
    margin-top: 10px;
    margin-bottom: 18px;
    font-size: 23px;
    color: #303030;
    font-family: "Apple_B";
    display: flex;
    justify-content: center;
}

.day {
    justify-content: stretch;
    background-color: red;
    display: flex;
    border-top: 4px solid #f2f2f2;
    border-bottom: 4px solid #f2f2f2;
}

.dayList {
    width: 300px;
    font-family: "Apple_R";
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 3px solid #f2f2f2;
    background-color: #ebebeb;
}

.day .dayList:first-child{
    color: #d14e4e;
}

.dayList.last{
    border-right: 0;
}

.calendar {
    border: 3px solid #f2f2f2;
    border-top: 2px solid #303030;
    box-shadow: 0 10px 30px 0 rgba(201, 201, 201, 0.16);
}

.calendarWeek {
    display: flex;
    justify-content: stretch;
}

.calendarDay {
    padding-left: 9px;
    padding-top: 11px;
    width: 300px;
    height : 110px;
    border-right: 3px solid #f2f2f2;
}

.calendarDay:hover{
    cursor: pointer;
    background-color: #f1fbff;
}

.calendarWeek .calendarDay:nth-child(7n){
    border-right: 0;
}

.calendarWeek .calendarDay:nth-child(7n+1){
    color: #d14e4e;
    font-family: "Apple_B";
}

.calendarWeek {
    border-bottom: 3px solid #f2f2f2;
}

.calendarDiv .calendarWeek:last-child{
    border-bottom: 0;
}






