.title{
    font-family: 'Apple_R';
    font-size: 22px;
}

.editImage {
    margin-right: 11px;
}

.wrap {
    display: flex;
}

.menu {
    margin-top: 23px;
    display: flex;
    margin-bottom: 33px;
    justify-content: space-between;
    align-items: center;
}

.submenu {
    display: flex;
    cursor: pointer;
}

.remain {
    margin-top: 10px;
    font-family: "Apple_R";
}

.menu_status{
    margin-right: 14px;
    width: 177px;
    height: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #cbcbcb;
    border-radius: 28px;
    color: #cbcbcb;
    font-family: "Apple_R";
}

.menu_status.active{
    margin-right: 14px;
    width: 177px;
    height: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #cbcbcb;
    border-radius: 28px;
    background-color: #3d50b0;
    color: white;
    font-family: "Apple_R";
}



.select {
    background-color: white;
    width: 400px;
    margin-left: 28px;
    padding-left: 22px;
    padding-right: 22px;
}

.selectTitle {
    display: flex;
    justify-content:space-between;
    margin-top: 25px;
    border-bottom: 1px solid #dbdbdb;
    padding-bottom: 16px;
}

.selectmenu {
    width: 82px;
    border: 1px solid #cbcbcb;
    height: 39px;
    border-radius: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Apple_R";
    cursor: pointer;
}

.selectmenu.active{
    background-color: #3d50b0;
    color: white;
}

.timePicker {
    padding-top: 23px;
}

.timePickerExit {
    margin-bottom: 20px;
}

.timePickerExitTitle{
    font-family: "Apple_R";
    margin-bottom: 15px;
}

.timePickerArriveTitle{
    font-family: "Apple_R";
    margin-bottom: 15px;
}

.description {
    background-color: white;
    width: 400px;
    margin-left: 28px;
    padding-left: 22px;
    padding-right: 22px;
}

.descriptionTitle {
    font-family: 'Apple_R';
    font-size: 20px;
    letter-spacing: -1px;
    color: #303030;
    padding-top: 27px;
    padding-bottom: 16px;
    border-bottom: 1px solid #dbdbdb;
}

.descriptionWrite {
    padding-top: 22px;
    padding-bottom: 23px;
}

.submitDiv {
    display: flex;
    justify-content: end;
}

.submit {
    margin-top: 26px;
    width: 181px;
    height: 46px;
    background-color: #3d50b0;
    color: white;
    border-radius: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    padding-right: 20px;
    cursor: pointer;
}

.checkBoard {
    width: 1164px;
    height: 561px;
    background: white;
    padding-top: 36px;
    padding-left: 30px;
    padding-right: 30px;
}

.checkBoardTitle {
    padding-bottom: 20px;
    font-family: "Apple_R";
    font-size: 18px;
    border-bottom: 1px solid #dfdfdf;
}

.checklist {
    display: flex;
    justify-content: space-between;
    padding-top: 19.5px;
    padding-bottom: 19.5px;
    border-bottom: 1px solid #dfdfdf;
}

.checklistTitle {
    display: flex;
}

.date {
    width: 100px;
}

.cancel {
    color: #3d50b0;
    font-family: "Apple_B";
    cursor: pointer;
}