.title{
    font-family: "Apple_B";
    font-size: 24px;
}

.main{
    padding-top: 48px;
    width: 600px;
    margin: 0 auto;
}



.name{
    font-size: 24px;
    font-family: "Apple_R";
    margin-bottom: 24px;
}

.dividerDiv{
    margin-top: 48px;
}

.eachDividerDiv{
    margin-top: 80px;
}

.btnDiv{
    
}