@font-face {
    font-family: 'Apple_B';
    src: url("styles/AppleSDGothicNeoB.woff2") format('woff2'),
    url("styles/AppleSDGothicNeoB.woff") format('woff'),
    url("styles/AppleSDGothicNeoB.ttf") format('truetype')
  }

  @font-face {
    font-family: 'Apple_EB';
    src: url("styles/AppleSDGothicNeoEB.woff2") format('woff2'),
    url("styles/AppleSDGothicNeoEB.woff") format('woff'),
    url("styles/AppleSDGothicNeoEB.ttf") format('truetype')
  }

  @font-face {
    font-family: 'Apple_L';
    src: url("styles/AppleSDGothicNeoL.woff2") format('woff2'),
    url("styles/AppleSDGothicNeoL.woff") format('woff'),
    url("styles/AppleSDGothicNeoL.ttf") format('truetype')
  }

  @font-face {
    font-family: 'Apple_M';
    src: url("styles/AppleSDGothicNeoM.woff2") format('woff2'),
    url("styles/AppleSDGothicNeoM.woff") format('woff'),
    url("styles/AppleSDGothicNeoM.ttf") format('truetype')
  }

  @font-face {
    font-family: 'Apple_T';
    src: url("styles/AppleSDGothicNeoT.woff2") format('woff2'),
    url("styles/AppleSDGothicNeoT.woff") format('woff'),
    url("styles/AppleSDGothicNeoT.ttf") format('truetype')
  }

  @font-face {
    font-family: "Apple_R";
    src : url("styles/AppleSDGothicNeoR.woff2") format('woff2'),
    url("styles/AppleSDGothicNeoR.woff") format('woff'),
    url("styles/AppleSDGothicNeoR.ttf") format('truetype')
  }

  * {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
  }

 a:link { text-decoration: none;}
 a:visited {text-decoration: none;}
 a:hover { text-decoration: none;}

 .minuscell{
   color: blue;
 }

 .pluscell{
   color : red;
 }


  




